*{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("a-coach.jpg");
}

.container{
    max-width: 1024px;
    margin: auto;
}

.container-flex{
    display: flex;
}

header,
footer{
    background-color: #DC143C;
    color: white;
    padding-top: 12px;
}

header > .container,
footer > .container{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.hamburger-menu{
    width: 32px;
    cursor: pointer;
}

.hamburger-menu span{
    display: block;
    background-color: white;
    width: 100%;
    height: 2px;
    margin-bottom: 4px;
}

nav{
    display: none;
    background-color: #c96b28;
    width: 100%;
    padding: 16px;
}

nav li{
    display: inline;
    list-style: none;
    margin-right: 24px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover{
    text-decoration: underline;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
}

main{
    padding: 64px 0;
}

main > .container{
    background-color: rgba(255, 255, 255, 0.9);
    width: 40%;
    padding: 24px;
    border-radius: 10px;
}

h2{
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 8px;
}

.form-container,
form button{
    margin: 8px 0;
}

main form label,
main form input,
main form button{
    font-size: 16px;
}

main form label,
main form button{
    font-weight: 700;
}

main form label{
    display: block;
}

main form input,
main form button{
    width: 100%;
    padding: 4px;
}

main form button{
    background-color: #008a00;
    color: white;
    padding: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main form button:hover{
    background-color: #006400;
}

#phone-type{
    display: flex;
    margin: 4px 0;
    border-radius: 6px;
}

.cellphone,
.telephone{
    background-color: #DC143C;
    width: 20%;
    margin-right: 12px;
}

.selected,
.cellphone:hover,
.telephone:hover{
    background-color: #a1102d;
}

.error{
    color: red;
    font-weight: 400;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding-bottom: 12px;
}

footer ul{
    list-style: none;
}

footer ul img{
    height: 32px;
    margin-left: 8px;
}